.container{
    display: flex;
    justify-content: space-around;
    width:20em;
    align-items: center;
    flex-direction: column;
    background-color: #ADEFD1FF;
    color: #00203FFF;
    margin: 0.5em;
    padding: 0.5em;
}

.show{
display: block;
}

.hide{
display: none;
}